.bintray/.credentials*
.cache/
.cintia/
.compose-cache/
.config/configstore/
.config/node-webkit/
.dbus/
.dmenu_cache
.dockercfg
.ghc/ghci_history
.gimp-2.8/
.IdeaIC14/
.ivy2/
.lesshst
.local/
.mozilla
.mplayer
.nix-defexpr/
.nix-profile
.nixops
.npm/
.oh-my-zsh/
.pki
.psci_modules/*
.purescript/psci_history
.scala_history
.ssh/
.thumbnails/
.wifi/
.Xauthority
.xsession-errors
.zcompdump*
.zsh-update
.zsh_history
dmps/
ebooks/
metadoc2/
scalameta2/
blink/
Downloads/
MasseGuillaume/
metadoc/
slamdata/
NixOS/
scala/
scalameta/
VirtualBox VMs/
Films/
Videri/
.node-gyp/
node_modules/
.ammonite/
sbt/
