Downloads/
MasseGuillaume/
NixOS/
scala/
scalameta/
metadoc/
cintia/

.cache/
.compose-cache/
.dbus/
.dmenu_cache
.ivy2/
.local/
.mozilla
.mplayer
.nix-defexpr/
.nix-profile
.npm/
.oh-my-zsh/
.pki
.scala_history
.ssh/
.wifi/
.Xauthority
.xsession-errors
.zcompdump*
.zsh_history
.zsh-update
.config/configstore/
.config/node-webkit/

