.cache/
.compose-cache/
.config/configstore/
.config/node-webkit/
.dbus/
.dmenu_cache
.local/
.mplayer
.nix-defexpr/
.nix-profile
.nixops
.oh-my-zsh/
.pki
.ssh/
.thumbnails/
.wifi/
.Xauthority
.xsession-errors
.zcompdump*
.zsh-update
.zsh_history
.node-gyp/